.circle {
  width: 70px;
	height: 70px;
	background: #e77b15;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  overflow: hidden;
  white-space: nowrap;
  /* top right corner */
  position: absolute;
  right: -20px;
  top: -50px;
}
.circle p {

 color: #fff;
 display: block;
 font: bold 100% 'Helvetica Neue', Helvetica, Arial, sans-serif;
 padding: inherit;
 text-decoration: none;
 /* for creating shadow */
 text-shadow: 0 0 5px #444;
}

.aligncenter {
    text-align: center;
}
